version: "3.7"
services:
  local:
    build: .
    ports:
      - "8080:8080"
      - "35729:35729"
    volumes:
      - .:/usr/src
    command: ["serve", "--host", "0.0.0.0", "--port", "8080", "--livereload", "--livereload-port", "35729"]